.counter-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;

  width: 280px;

  position: relative;
}


@media (min-width: $smartphones) {
  .counter-list {
    padding: 6px 5px;

    width: 330px;
  }
}

@media (min-width: $wsvga) {
  .counter-list {
    padding: 10px 10px;

    width: 360px;
  }
}


@media (min-width: $tablets) {
  .counter-list {
    padding: 10px 35px;

    width: 500px;
  }
}

@media (min-width: $laptop) {
  .counter-list {
    padding: 10px 10px;
    width: 420px;
  }
}

@media (min-width: $widebooks) {
  .counter-list {
    padding: 16px 10px;
  }
}
