.first-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin-bottom: 5px;

  width: 100%;

  &--name,
  &--phone,
  &--agreement {
    .first-item__input {
      order: 2;
    }

    .first-item__label {
      order: 1;
    }
  }

  &__label {
    font: {
      size: 0.875em;
      weight: 900;
      family: $main-font;
    }

    color: $text-black;
    line-height: 1;

    margin-bottom: 2px;
  }

  &__input {
    font: {
      size: 1.250em;
      weight: 900;
      family: $main-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    width: 100%;

    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid #000;

    outline: none;
    cursor: text;
    padding-left: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 5px;
  }

  &__input--number::-webkit-inner-spin-button,
  &__input--number::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input:focus ~ label,
  label:active {
    color: $white-hover;
    border-color: $white-hover;
  }

  input:focus {
    border-color: $white-hover;
  }

  &__required {
    display: none;
  }
}

@media (min-width: $smartphones) {
  .first-item {
    margin-bottom: 15px;
    position: relative;

    &__label {
      font: {
        size: 0.963em;
      }

      margin-bottom: 4px;
    }

    &__input {
      font: {
        size: 1.375em;
      }

      padding-left: 9px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 9px;
    }

    &__required {
      position: absolute;

      bottom: -13px;
      left: 0;
      display: block;
      font: {
        size: 0.688em;
        family: $main-font;
        weight: 900;
      }

      color: $white-hover;
      line-height: 1;
      text-transform: uppercase;

      margin-top: 4px;
    }
  }
}

@media (min-width: $wsvga) {
  .first-item {
    margin-bottom: 25px;
    position: relative;

    &__label {
      font: {
        size: 1em;
      }

      margin-bottom: 5px;
    }

    &__input {
      font: {
        size: 1.5em;
      }

      padding-left: 12px;
      padding-top: 8px;
      padding-bottom: 8px;
      padding-right: 12px;
    }

    &__required {
      bottom: -15px;
      left: 0;

      font: {
        size: 0.75em;
      }
    }
  }
}

@media (min-width: $tablets) {
  .first-item {
    margin-bottom: 35px;
    position: relative;

    &__label {
      font: {
        size: 1.25em;
      }

      margin-bottom: 8px;
    }

    &__input {
      font: {
        size: 1.75em;
      }

      padding-left: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 15px;
    }

    &__required {
      bottom: -18px;
      left: 0;

      font: {
        size: 1em;
      }
    }
  }
}

@media (min-width: $laptop) {
  .first-item {
    margin-bottom: 25px;
    position: relative;

    &__label {
      font: {
        size: 1.063em;
      }

      margin-bottom: 8px;
    }

    &__input {
      font: {
        size: 1.5em;
      }

      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 10px;
    }

    &__required {
      bottom: -15px;
      left: 0;

      font: {
        size: 0.75em;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .first-item {
    margin-bottom: 25px;
    position: relative;

    &__label {
      font: {
        size: 1.438em;
      }

      margin-bottom: 8px;
    }

    &__input {
      font: {
        size: 2em;
      }

      padding-left: 15px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 15px;
    }

    &__required {
      bottom: -18px;
      left: 0;

      font: {
        size: 1em;
      }
    }
  }
}
