.first-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &__submit {
    font: {
      size: 1.375em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    text-align: center;
    text-transform: uppercase;

    background-color: $submit-btn;

    border: 2px solid #000;
    border-radius: 25px;

    padding: 7px 13px;
    margin-top: 8px;

    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
    -moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  }
}


@media (min-width: $smartphones) {
  .first-form {
    width: 100%;

    &__submit {
      font: {
        size: 1.938em;
      }

      line-height: 1;

      border-radius: 45px;

      padding: 10px 20px;
      margin-top: 8px;
    }
  }
}

@media (min-width: $wsvga) {
  .first-form {
    width: 100%;

    &__submit {
      font: {
        size: 2em;
      }

      margin-top: 20px;
    }
  }
}

@media (min-width: $tablets) {
  .first-form {
    &__submit {
      font: {
        size: 2.25em;
      }

      margin-top: 30px;
    }
  }
}

@media (min-width: $laptop) {
  .first-form {
    &__submit {
      font: {
        size: 1.938em;
      }

      margin-top: 15px;
    }
  }
}

@media (min-width: $wide-netbooks) {
  .first-form {
    width: 360px;
    &__submit {
      margin-top: 0;
    }
  }
}

@media (min-width: $widebooks) {
  .first-form {
    width: 488px;
    &__submit {
      font: {
        size: 2.625em;
      }
      margin-top: 0;
    }
  }
}

@media (min-width: $hd) {
  .first-form {
    &__submit {
      margin-top: 15px;
    }
  }
}
