@font-face {
  font-family: 'Gotham Black';
  src: url("../fonts/GothaProBla.eot");
  src: url("../fonts/GothaProBla.eot") format('embedded-opentype'), url("../fonts/GothaProBla.woff2") format('woff2'), url("../fonts/GothaProBla.woff") format('woff'), url("../fonts/GothaProBla.ttf") format('truetype'), url("../fonts/GothaProBla.svg#GothaProBla") format('svg');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Ultra';
  src: url("../fonts/gotham-ultra.eot");
  src: url("../fonts/gotham-ultra.ttf") format('truetype'), url("../fonts/gotham-ultra.eot") format('embedded-opentype'), url("../fonts/gotham-ultra.woff") format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Extra Light';
  src: url("../fonts/GothamExtraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}
