.footer {
  width: 100%;
  background-color: $footer-bg;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 0;
  margin-top: auto;

  position: relative;

  &--event {
    &::before {
      display: none;
    }
  }

  &::before {
    position: absolute;
    content: '';
    background-image: url('../img/turtles.png');
    background-size: 299px 105px;
    background-repeat: no-repeat;

    width: 299px;
    height: 105px;

    bottom: -9px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
  }

  &__copyright {
    font: {
      size: 0.375em;
      weight: 100;
      family: $xtra-font;
    }

    color: $text-white;
    line-height: normal;
    text-transform: uppercase;
  }
}

@media (min-width: $smartphones) {
  .footer {
    &::before {
      background-size: 334px 153px;

      width: 334px;
      height: 153px;

      z-index: -1;

      bottom: -10px;
      left: 50%;
    }

    &__copyright {
      font: {
        size: 0.438em;
      }
    }
  }
}

@media (min-width: $wsvga) {
  .footer {
    padding-top: 10px;

    &::before {
      background-size: 345px 151px;

      width: 345px;
      height: 151px;

      bottom: 5px;
      left: 50%;
    }

    &__copyright {
      font: {
        size: 0.5em;
      }
    }
  }
}

@media (min-width: $tablets) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
      background-size: 422px 184px;

      width: 422px;
      height: 184px;

      bottom: 20px;
    }

    &__copyright {
      font: {
        size: 0.75em;
      }
    }
  }
}

@media (min-width: $laptop) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
      background-size: 422px 184px;

      width: 422px;
      height: 184px;

      bottom: 10px;
    }

    &__copyright {
      font: {
        size: 0.438em;
      }
    }
  }
}

@media (min-width: $netbooks) {
  .footer {
    &::before {
      background-size: 422px 184px;

      width: 422px;
      height: 184px;

      bottom: 0px;
    }
  }
}

@media (min-width: $wide-netbooks) {
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
    &::before {
      background-size: 460px 201px;

      width: 460px;
      height: 201px;

      bottom: 0px;
    }
  }
}

@media (min-width: $hd) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    &::before {
      background-size: 748px 306px;

      width: 748px;
      height: 306px;
      bottom: 0px;
    }
  }
}
