.footer {
  width: 100%;
  background-color: $footer-bg;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 0;
  margin-top: auto;

  position: relative;

  &::before {
    position: absolute;
    content: '';
    background-image: url('../img/turtles.png');
    background-size: 299px 105px;
    background-repeat: no-repeat;

    width: 299px;
    height: 105px;

    bottom: -9px;
    left: 50%;
    transform: translate(-50%);
    z-index: -1;
  }

  &__copyright {
    font: {
      size: 0.375em;
      weight: 100;
      family: $xtra-font;
    }

    color: $text-white;
    line-height: normal;
    text-transform: uppercase;
  }
}

@media (min-width: $smartphones) {
  .footer {
    &::before {
      background-size: 352px 131px;

      width: 352px;
      height: 131px;

      z-index: -1;

      bottom: -10px;
      left: 50%;
    }

    &__copyright {
      font: {
        size: 0.438em;
      }
    }
  }
}

@media (min-width: $wsvga) {
  .footer {
    padding-top: 10px;

    &::before {
      background-size: 422px 157px;

      width: 422px;
      height: 157px;

      bottom: 22px;
      left: 50%;
    }

    &__copyright {
      font: {
        size: 0.5em;
      }
    }
  }
}

@media (min-width: $tablets) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
      background-size: 528px 197px;

      width: 528px;
      height: 197px;

      bottom: 30px;
    }

    &__copyright {
      font: {
        size: 0.75em;
      }
    }
  }
}

@media (min-width: $laptop) {
  .footer {
    padding-top: 10px;
    padding-bottom: 10px;

    &::before {
      background-size: 528px 197px;

      width: 528px;
      height: 197px;

      bottom: -10px;
    }

    &__copyright {
      font: {
        size: 0.438em;
      }
    }
  }
}

@media (min-width: $netbooks) {
  .footer {
    &::before {
      background-size: 528px 197px;

      width: 528px;
      height: 197px;

      bottom: -10px;
    }
  }
}

@media (min-width: $wide-netbooks) {
  .footer {
    padding-top: 15px;
    padding-bottom: 15px;
    &::before {
      background-size: 631px 265px;

      width: 631px;
      height: 265px;

      bottom: -30px;
    }
  }
}

@media (min-width: $hd) {
  .footer {
    padding-top: 20px;
    padding-bottom: 20px;
    &::before {
      background-size: 921px 374px;

      width: 921px;
      height: 374px;

      bottom: -30px;
    }
  }
}
