.footer-social {
  display: none;
}


@media (min-width: $laptop) {
  .footer-social {
    margin: 0;
    padding: 0;
    list-style: none;

    min-width: 260px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-right: 10px;
    margin-left: auto;

    position: absolute;
    right: 10px;
    bottom: 5px;
  }
}

@media (min-width: $wide-netbooks) {
  .footer-social {
    bottom: 7px;
  }
}

@media (min-width: $widebooks) {
  .footer-social {
    margin-right: 140px;
  }
}

@media (min-width: $hd) {
  .footer-social {
    min-width: 360px;

    bottom: 10px;
    margin-right: 140px;
  }
}
