.header-opener {
  &__btn {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 34 29'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bisolation:isolate;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3EРесурс 1%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cimage id='Vector_Smart_Object' data-name='Vector Smart Object' class='cls-1' width='34' height='29' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAdCAYAAADPa766AAAACXBIWXMAAAsSAAALEgHS3X78AAAA+UlEQVRIS+3XIU4DQRiG4XemJBhcTRUCRQ+CROI5QVVPgIUDVKKpqMD1IGwNCDCYKhBtIHkRzSZNE3bUzI7oo7/NfMnu/PkXdaDeqWvLW7s7exDUe2BKvx6C+gWcpZKZfQf1BzhJJTP7jcAilSpggTpUlx0fVG5LdRjUttUFcN7ROod34A1gv0ivYipQyrHIoXZ+XAK3wOj/aBafwCOwCuoV8Aycdj6Szxa4DuoLME6lM2uCldzfCDSpUAFNBCbs3lNftsCknaxV3JpEtoxqBtqxyKH9FbGPfeQDeAWoakN7Am46e+c3r2qL36RSBWwiMEulCphhJf++f0UIWEd6DEaOAAAAAElFTkSuQmCC'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: 34px 29px;

    width: 34px;
    height: 29px;

    border: none;
  }
}

@media (min-width: $laptop) {
  .header-opener {
    display: none;
  }
}
