.header-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;

  &__upper {
    background-color: $header-bg;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 2px 15px;
  }

  &__logo {
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: 163px 23px;

    width: 163px;
    height: 23px;
  }

  &__link {
    width: 100%;
    height: 100%;
  }

  &__lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #fff;
    width: 100%;

    padding-top: 4px;
    padding-bottom: 4px;

    box-shadow:0px 1px 4px 0px rgba(40,40,40,0.35);
    -webkit-box-shadow:0px 1px 4px 0px rgba(40,40,40,0.35);
    -moz-box-shadow:0px 1px 4px 0px rgba(40,40,40,0.35);
  }

  &__age {
    margin-left: 15px;
    font: {
      size: 1.5em;
      weight: 900;
      family: $main-font;
    }

    color: #e60f29;
    line-height: 1;
    text-transform: uppercase;
  }

  &__rtlink {
    display: block;
    height: 100%;
    font-size: 0;
  }

  &__rt {
    width: 74px;
    height: auto;

    margin-right: 15px;
    margin-left: auto;
  }
}

@media (min-width: $smartphones) {
  .header-nav {
    width: 100%;

    &__upper {
      padding-top: 6px;
      padding-left: 15px;
      padding-right: 15px;
      padding-bottom: 3px;
    }

    &__logo {
      background-size: 183px 26px;

      width: 183px;
      height: 26px;
    }

    &__rt {
      width: 94px;
      margin-right: 15px;
    }

    &__age {
      margin-left: 14px;
      font: {
        size: 1.5em;
      }
    }
  }
}

@media (min-width: $wsvga) {
  .header-nav {
    width: 100%;

    &__upper {
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 6px;
    }

    &__logo {
      background-size: 221px 31px;

      width: 221px;
      height: 31px;
    }

    &__rt {
      width: 162px;
      margin-right: 30px;
    }

    &__age {
      margin-left: 30px;
      font: {
        size: 1.625em;
      }
    }
  }
}

@media (min-width: $laptop) {
  .header-nav {
    width: 100%;

    &__upper {
      padding-top: 10px;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
    }

    &__logo {
      background-size: 198px 28px;

      width: 198px;
      height: 28px;
    }

    &__rt {
      width: 194px;
      height: auto;
      margin-right: 10px;
    }

    &__age {
      margin-left: 10px;
      font: {
        size: 1.725em;
      }
    }
  }
}

@media (min-width: $netbooks) {
  .header-nav {
    &__upper {
      padding-left: 30px;
      padding-right: 30px;
      transition: 0.5s ease-in;
    }

    &__age {
      margin-left: 30px;
      font: {
        size: 1.875em;
      }
    }
  }
}


@media (min-width: $wide-netbooks) {
  .header-nav {
    &__upper {
      padding-left: 70px;
      padding-right: 30px;
      transition: 0.5s ease-in;
    }

    &__age {
      margin-left: 70px;
      font: {
        size: 2em;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .header-nav {
    &__upper {
      padding-left: 140px;
      transition: 0.5s ease-in;
    }

    &__logo {
      background-size: 261px 37px;

      width: 267px;
      height: 37px;
    }

    &__rt {
      width: 171px;
      height: auto;
      margin-right: 140px;
    }

    &__age {
      margin-left: 140px;
      font: {
        size: 2.25em;
      }
    }
  }
}

@media (min-width: $hd) {
  .header-nav {
    &__age {
      font-size: 3em;
    }
  }
}
