.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;

  z-index: 1001;

  width: 100%;

  box-shadow:0px 1px 4px 0px rgba(40,40,40,0.35);
  -webkit-box-shadow:0px 1px 4px 0px rgba(40,40,40,0.35);
  -moz-box-shadow:0px 1px 4px 0px rgba(40,40,40,0.35);
}
