.index-place {
  background-image: url('../img/intro-bg.svg');
  background-repeat: no-repeat;
  background-size: 304px 78px;
  background-position: center center;
  width: 100%;

  padding-bottom: 16px;
  margin: 0 auto;

  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  &__description {
    font: {
      size: 1.250em;
      weight: 900;
      family: $main-font;
    }

    color: $text-white;
    line-height: normal;
    text-align: center;

    width: 240px;

    margin: 0 auto;
    padding-top: 15px;

    text-align: center;
  }
}

@media (min-width: $smartphones) {
  .index-place {
    padding-left: 17px;
    padding-right: 17px;

    margin-top: 10px;

    &__description {
      font: {
        size: 1.5em;
      }

      width: 290px;
    }
  }
}

@media (min-width: $tablets) {
  .index-place {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 20px;

    &__description {
      font: {
        size: 1.75em;
      }

      width: 350px;
    }
  }
}

@media (min-width: $laptop) {
  .index-place {
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 7px;

    margin-top: 20px;

    &__description {
      font: {
        size: 1.5em;
      }

      width: 290px;
    }
  }
}

@media (min-width: $widebooks) {
  .index-place {
    padding-left: 23px;
    padding-right: 23px;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-top: 20px;

    &__description {
      font: {
        size: 2em;
      }

      width: 385px;
    }
  }
}
