.index-counter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-image: url('../img/counter-header.svg');
  background-size: 317px 167px;
  background-repeat: no-repeat;
  background-position: top -60px center;

  width: 100%;
  padding-bottom: 25px;


  &__title {
    font: {
      size: 1.125em;
      family: $main-font;
      weight: 900;
    }

    color: $text-white;
    line-height: 1.375em;

    margin-bottom: 0;
    margin-top: 8px;
  }
}

@media (min-width: $smartphones) {
  .index-counter {
    background-size: 349px 188px;
    &__title {
      font: {
        size: 1.188em;
      }

      line-height: 1.438em;

      padding: 0 15px;
      margin-top: 15px;

      z-index: 1;
    }
  }
}

@media (min-width: $wsvga) {
  .index-counter {
    background-size: 383px 206px;
    &__title {
      font: {
        size: 1.250em;
      }

      line-height: 1.375em;

      padding: 5px 20px;
      margin-top: 15px;

      z-index: 1;
    }
  }
}

@media (min-width: $tablets) {
  .index-counter {
    background-size: 480px 253px;
    &__title {
      font: {
        size: 1.50em;
      }

      line-height: 1.575em;

      padding: 5px 25px;
      margin-top: 30px;

      border-radius: 20px;
    }
  }
}


@media (min-width: $laptop) {
  .index-counter {
    background-size: 480px 253px;
    background-position: top -80px center;
    padding-bottom: 40px;

    width: 480px;

    &__title {
      font: {
        size: 1.313em;
      }

      line-height: 1.625em;

      padding: 0 20px;
      margin-top: 16px;
      border-radius: 15px;
    }
  }
}

@media (min-width: $widebooks) {
  .index-counter {
    &__title {
      font: {
        size: 1.75em;
      }

      line-height: 1.825em;

      padding: 0 25px;
      margin-top: 20px;

      border-radius: 15px;

      &::before {
        bottom: 10px;
        left: 10px;

        width: 6px;
        height: 6px;

        border-radius: 5px;
      }

      &::after {
        bottom: 10px;
        right: 10px;

        width: 6px;
        height: 6px;

        border-radius: 5px;
      }
    }
  }
}
