.index-counter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-image: url('../img/counter-header.svg');
  background-size: 317px 167px;
  background-repeat: no-repeat;
  background-position: top -70px center;

  width: 100%;
  padding-bottom: 15px;


  &__title {
    font: {
      size: 1.125em;
      family: $ultra-font;
      weight: 900;
    }

    color: $text-white;
    line-height: 1.375em;

    margin-bottom: 0;
    margin-top: 6px;
  }
}

@media (min-width: $smartphones) {
  .index-counter {
    background-size: 349px 188px;
    background-position: top -83px center;
    &__title {
      font: {
        size: 1.188em;
      }

      line-height: 1.438em;

      padding: 0 15px;
      margin-top: 5px;

      z-index: 1;
    }
  }
}

@media (min-width: $wsvga) {
  .index-counter {
    background-size: 383px 206px;
    background-position: top -90px center;

    &__title {
      font: {
        size: 1.250em;
      }

      line-height: 1.375em;

      padding: 0 20px;
      margin-top: 10px;

      z-index: 1;
    }
  }
}

@media (min-width: $tablets) {
  .index-counter {
    background-size: 480px 253px;
    background-position: top -110px center;

    &__title {
      font: {
        size: 1.50em;
      }

      line-height: 1.575em;

      padding: 0 25px;
      margin-top: 10px;
    }
  }
}

@media (min-width: $laptop) {
  .index-counter {
    background-size: 412px 222px;
    background-position: top -100px center;
    padding-bottom: 15px;

    width: 480px;

    &__title {
      font: {
        size: 1.313em;
      }

      line-height: 1.625em;

      padding: 0 20px;
      margin-top: 5px;
    }
  }
}

@media (min-width: $widebooks) {
  .index-counter {
    justify-content: center;
    background-size: 541px 291px;
    background-position: top -125px center;

    width: 540px;

    padding-bottom: 0;

    &__title {
      font: {
        size: 1.75em;
      }

      line-height: 1;

      padding: 0 25px;
      margin-top: 30px;
      margin-bottom: 0px;
    }
  }
}
