.index-promo {
  width: 100%;

  &__description {
    font: {
      size: 1.063em;
      weight: 900;
      family: $main-font;
    }

    color: $text-black;
    line-height: 1;
    text-align: center;

    width: 310px;

    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $smartphones) {
  .index-promo {
    &__description {
      font: {
        size: 1.125em;
      }

      width: 330px;

      margin-top: 17px;
    }
  }
}

@media (min-width: $wsvga) {
  .index-promo {
    &__description {
      font: {
        size: 1.250em;
      }

      width: 380px;

      margin-top: 17px;
    }
  }
}

@media (min-width: $tablets) {
  .index-promo {
    &__description {
      font: {
        size: 1.50em;
      }

      width: 450px;

      margin-top: 35px;
    }
  }
}


@media (min-width: $laptop) {
  .index-promo {
    &__description {
      font: {
        size: 1.375em;
      }

      width: 400px;

      margin-top: 35px;
    }
  }
}

@media (min-width: $widebooks) {
  .index-promo {
    &__description {
      font: {
        size: 2em;
      }

      width: 570px;

      margin-top: 30px;
    }
  }
}
