.main {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: space-evenly;

  position: relative;

  z-index: 999;

  &__disclaimer {
    display: none;
  }
}

@media (min-width: $laptop) {
  .main {
    &__disclaimer {
      position: absolute;
      display: block;

      background-image: url('../img/shape-bg.png');
      background-repeat: no-repeat;
      background-size: 347px 130px;

      width: 347px;
      height: 130px;

      top: 30%;
      right: 1%;

      text-align: center;

      transform: translate(-30%, -50%);
      transform: scale(0.8);
    }

    &__link {
      width: 100%;
      height: 100%;
      display: block;
      text-decoration: none;

      font: {
        size: 1.125em;
        family: $ultra-font;
        weight: 900;
      }

      color: $text-black;
      line-height: 1;

      text-align: center;
      margin: 0;

      padding-top: 35px;
      padding-left: 15px;
    }
  }
}

@media (min-width: $wide-netbooks) {
  .main {
    &__disclaimer {
      background-size: 347px 130px;

      width: 347px;
      height: 130px;

      top: 55%;
      right: 5%;

      transform: translate(-30%, -50%);
      transform: scale(1);
    }

    &__link {
      font: {
        size: 1.125em;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .main {
    &__disclaimer {
      background-size: 434px 162px;

      width: 434px;
      height: 162px;

      top: 55%;
      right: -5%;

      transform: translate(-30%, -50%);
    }

    &__link {
      font: {
        size: 1.475em;
      }
    }
  }
}

@media (min-width: $hd) {
  .main {
    &__disclaimer {
      background-size: 512px 203px;

      width: 512px;
      height: 203px;

      top: 55%;
      right: 0%;

      transform: translate(-30%, -50%);

      padding-top: 50px;
    }

    &__link {
      font: {
        size: 1.75em;
      }

      padding-top: 15px;
    }
  }
}
