.main-index {
  @include container;

  width: 100%;

  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  z-index: 5;

  &__register {
    background-color: $submit-btn;
    border: 3px solid #000;
    border-radius: 25px;

    padding-left: 24px;
    padding-right: 24px;
    padding-top: 7px;
    padding-bottom: 7px;

    margin-top: 7px;

    font: {
      size: 1.375em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
    -moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  }

  &__disclaimer {
    display: none;
  }
}
/*Мобильные*/
@media (min-width: $smartphones) {
  .main-index {
    padding-bottom: 0;

    &__register {
      margin-bottom: 0;
      margin-top: 25px;

      padding-top: 10px;

      font: {
        size: 1.75em;
      }
    }

    &__disclaimer {
      display: none;

      background-image: url('../img/shape-bg.png');
      background-repeat: no-repeat;
      background-size: 289px 108px;

      width: 289px;
      height: 108px;

      font: {
        size: 1.75em;
        family: $ultra-font;
        weight: 900;
      }

      color: $text-black;
      line-height: 1;

      text-align: center;
      margin: 0;

      padding-top: 20px;
    }

    &__disclaimer--desktop {
      display: none;
    }
  }
}
@media (min-width: $wsvga) {
  .main-index {
    padding-bottom: 0;

    &__register {
      margin-bottom: 20px;
      margin-top: 20px;

      font: {
        size: 1.875em;
      }
    }

    &__disclaimer {
      background-size: 347px 130px;

      width: 347px;
      height: 130px;

      font: {
        size: 1.875em;
      }

      padding-top: 30px;
    }
  }
}
/*Планшет*/
@media (min-width: $tablets) {
  .main-index {
    padding-bottom: 0;

    &__register {
      margin-bottom: 30px;
      margin-top: 30px;

      font: {
        size: 2em;
      }
    }

    &__disclaimer {
      background-size: 434px 162px;

      width: 434px;
      height: 162px;

      font: {
        size: 2em;
      }

      padding-top: 40px;
    }
  }
}
/*Десктоп*/
@media (min-width: $laptop) {
  .main-index {
    padding-bottom: 0;
    position: relative;

    &__register {
      margin-bottom: 0;
      margin-top: 25px;

      font: {
        size: 1.75em;
      }
    }

    &__disclaimer {
      background-size: 265px 104px;

      width: 265px;
      height: 104px;

      position: absolute;
      left: -70%;
      top: 65%;
    }

    &__disclaimer--tablet {
      display: none;
    }

    &__disclaimer--desktop {
      display: block;
      font: {
        size: 0.875em;
      }

      padding-top: 25px;
      padding-left: 10px;
    }
  }
}

@media (min-width: $netbooks) and (max-height: $netbooks-wide) {
  .main-index {
    margin-top: 0;
  }
}

@media (min-width: $netbooks) and (min-height: $netbooks-quad) {
  .main-index {
    margin-top: 10%;

    transition: 0.8s ease-in-out;
  }
}

@media (min-width: $wide-netbooks) and (min-height: 768px) {
  .main-index {
    margin-top: 0;
    transition: 0.8s ease-in-out;
  }
}

@media (min-width: $widebooks) {
  .main-index {
    padding-bottom: 0;
    position: relative;

    &__register {
      margin-bottom: 0;
      margin-top: 20px;

      font: {
        size: 2.25em;
      }

      padding-left: 30px;
      padding-right: 30px;
      border-radius: 30px;
    }

    &__disclaimer--tablet {
      display: none;
    }
  }
}
