.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0;
  padding: 0;

  list-style: none;

  position: absolute;
  width: 100%;

  top: -800px;
  left: 0;

  z-index: 999;
}

@media (min-width: $smartphones) {
  .nav-list {
    top: -800px;
    left: 0;
    z-index: 9999;
  }
}

@media (min-width: $laptop) {
  .nav-list {
    display: none;
  }

  .nav-list--event {
    width: 150px;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    top: 120%;
    right: 5%;
    left: auto;
  }
}

@media (min-width: $netbooks) {
  .nav-list--event {
    width: 150px;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    top: 120%;
    right: 5%;
    left: auto;
  }
}

@media (min-width: $notebooks) {
  .nav-list--event {
    width: 195px;

    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;

    top: 180%;
    right: 5%;
    left: auto;
  }
}
