.nav-item {
  width: 100%;

  background-color: $menu-bg;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 30px;

  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;

  &:active {
    background-color: $menu-active;
  }

  &--city {
    position: relative;

    &::after {
      position: absolute;
      content: '';

      width: 41px;
      height: 41px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 41 41'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bisolation:isolate;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Ecity%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cimage id='Vector_Smart_Object' data-name='Vector Smart Object' class='cls-1' width='41' height='41' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACkAAAApCAYAAACoYAD2AAAACXBIWXMAAAsSAAALEgHS3X78AAADPElEQVRYR+3XQYhVVRgH8N83Mw2SYIkTWFPgItCkQINCKJuojYGLFtGmhUFtpM0sXLSKloKLaBaD7UMjZhEZQSSDtYoBIXEjBEEwYWCkGZEJw2lxz8Uzr7nvvDe+pwb94ePce77/9z//Oe/cc85IKRlVYA++xJ4Nct8j9YkXu3QnjAgRcRgreAUr+X00qM1OLRB4F2vWz8xa7o+embyI+RwnDDCTVRMVg/fjdDHQdbyf27bvdOa1Jj8r6veN1SQew/likB+wN+f25vc2dx4/3VGTeA6/FAN8je09nO25P/XE+E3ibdwsxD/AZAd3MudLk1+NzSSmsFCI/o0jtbpceyTz29qFrDc6k9iB5ULwMg7U6no0DuS6VmMZL4/EJJ7Ej4XYCmZrdR1as7m+1bp22ybxKv4ohD7GlpqZiuaWrJN6YjiTmg36vUJgDcdqBoYJHLP+ADghb/xVk9iKpaL4Gg7VBt1M4JD1P/kStvY1iV24UBRdwu7aYLcT2J3Hace8gF0bmsQcrhTkhPnaIKMIvNkz7hXMtfkJiIijOIsZ9wZmcDb7MhERJ7Go2Vxv4I0+xXcC72h8TGExIk5O4M+c/BkHU0qnuqr7ISKmI+KJiHg6t9O1mg6cwkGNH7K/Sc3nv7NYIwOvSc0X+oXmry/X1Y3cX90ZrF+TD+a+ndnXZFdR1aTmqDzTY6wrzmDHMCbLmLIJRMTD+BaP567f8Sm+0XyZD2l2i9fxAA7ju4h4IaV0+d+KFQw7k5oFXZ6/n2CmQ2cm51vuCqaGncnNmJwv8h/pOMoKfmReP83RmcQEVnPuEqb7GSzqpt06VVYxMYzJYf+lfUZz3YLjKaWb/cgtMu94fp3V6AyMYU0+Xzx/3snaGCW/1KliWJOP5PZqSum3vsweZP7V/NrqDIRhTU7m9npfVjfaulZnIAxr8q5g7CYj4q2IeKrG64dNnTiDIl+1FvFrRLxU43dh3DN5X40wCMY6kymlhYgILKeULjaPw2OsJiGl9GGNU8O4f+6R4H+To8J/wuQURMRreHSD/FzPF7k/t9siYn4Dfg3bcru/p/7Z4vloRPyVn1dTSkvtfe6cW/e5eynObeY+eVfwD/w22qCwl1dJAAAAAElFTkSuQmCC'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 41px 41px;

      top: 5px;
      right: 10px;
    }
  }

  &__link {
    width: 100%;
    height: 100%;
    display: block;

    font: {
      size: 1.5em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    text-decoration: uppercase;
    line-height: 1;

    text-decoration: none;
  }

  &__disclaimer {
    font: {
      size: 0.875em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    text-decoration: uppercase;
    line-height: 1;

    text-decoration: none;
  }
}

@media (min-width: $smartphones) {
  .nav-item {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;

    &:active {
      background-color: $menu-active;
    }

    &--city {
      position: relative;

      &::after {
        width: 46px;
        height: 46px;

        background-size: 46px 46px;

        top: 7px;
        right: 10px;
      }
    }

    &__link {
      font: {
        size: 1.625em;
      }
    }
  }
}

@media (min-width: $laptop) {
  .nav-item {
    background-color: transparent;
    border: none;
    text-align: right;

    padding: 0;

    position: relative;

    margin-bottom: 5px;

    &:active {
      background-color: transparent;
    }

    &__link {
      font: {
        size: 0.825em;
        family: $ultra-font;
        weight: 400;
      }

      text-shadow:1px 1px 30px rgba(0,0,0,0.2);
      -webkit-text-shadow:1px 1px 30px rgba(0,0,0,0.2);
      -moz-text-shadow:1px 1px 30px rgba(0,0,0,0.2);

      color: $text-white;
      line-height: 1;
      text-transform: uppercase;
      text-decoration: none;

      position: relative;

      &::after {
        display: none;
        position: absolute;
        content: '';

        width: 100%;
        height: 2px;

        background-color: #fff;

        bottom: -4px;
        left: 0;
      }

      &:hover {
        &::after {
          display: block;
        }
      }
    }
  }
}

@media (min-width: $netbooks) {
  .nav-item {
    margin-bottom: 7px;

    &__link {
      font: {
        size: 1em;
      }

      &::after {
        width: 100%;
        height: 3px;

        bottom: -4px;
        left: 0;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .nav-item {
    margin-bottom: 10px;

    &__link {
      font: {
        size: 1.25em;
      }

      &::after {
        width: 100%;
        height: 3px;

        bottom: -4px;
        left: 0;
      }
    }
  }
}
