.popup-city {
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);

  display: block;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  padding-left: 40px;
  padding-top: 15px;
  padding-right: 40px;
  padding-bottom: 15px;

  width: 80%;

  background-color: #ffffff;

  box-shadow:0px 0px 40px 4px rgba(0,0,0,0.2);
  -webkit-box-shadow:0px 0px 40px 4px rgba(0,0,0,0.2);
  -moz-box-shadow:0px 0px 40px 4px rgba(0,0,0,0.2);

  &__title {
    font: {
      size: 1.5em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 0;
  }

  &__controls {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
  }

  &__no {
    background-color: #f44336;
    font: {
      size: 1.250em;
      family: $ultra-font;
      weight: 900;
    }
    color: $text-black;
    line-height: normal;
    text-align: center;

    border: none;
    cursor: pointer;
    outline: none;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    text-transform: uppercase;

    border: 2px solid #000;
  }

  &__yes {
    background-color: #8dc63f;

    font: {
      size: 1.250em;
      family: $ultra-font;
      weight: 900;
    }
    color: $text-black;
    line-height: normal;
    text-align: center;

    border: none;
    cursor: pointer;
    outline: none;

    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: uppercase;

    border: 2px solid #000;
  }
}

@media (min-width: $smartphones) {
  .popup-city {
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);

    padding-left: 44px;
    padding-top: 20px;
    padding-right: 44px;
    padding-bottom: 20px;

    width: 80%;

    &__controls {
      justify-content: space-between;
    }

    &__title {
      font: {
        size: 1.512em;
      }
    }

    &__no {
      font: {
        size: 1.512em;
      }
    }

    &__yes {
      font: {
        size: 1.512em;
      }
    }
  }
}

@media (min-width: $wsvga) {
  .popup-city {
    width: 80%;

    &__controls {
      justify-content: space-evenly;
    }

    &__title {
      font: {
        size: 1.625em;
      }
    }

    &__no {
      font: {
        size: 1.625em;
      }
    }

    &__yes {
      font: {
        size: 1.625em;
      }
    }
  }
}

@media (min-width: $tablets) {
  .popup-city {
    width: 80%;

    &__controls {
      justify-content: space-evenly;
    }

    &__title {
      font: {
        size: 1.75em;
      }
    }

    &__no {
      font: {
        size: 1.75em;
      }
    }

    &__yes {
      font: {
        size: 1.75em;
      }
    }
  }
}

@media (min-width: $laptop) {
  .popup-city {
    width: 410px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 60px;
    padding-right: 60px;

    margin-top: 30%;
    transform: translate(-50%, -30%);

    &__controls {
      justify-content: space-between;
    }

    &__title {
      font: {
        size: 2.063em;
      }
      margin-top: 0;
    }

    &__no {
      font: {
        size: 2.063em;
      }
    }

    &__yes {
      font: {
        size: 2.063em;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .popup-city {
    width: 505px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-left: 75px;
    padding-right: 75px;

    margin-top: 20%;
    transform: translate(-50%, -20%);

    &__controls {
      justify-content: space-between;
    }

    &__title {
      font: {
        size: 2.625em;
      }
      margin-top: 0;
    }

    &__no {
      font: {
        size: 2.625em;
      }
    }

    &__yes {
      font: {
        size: 2.625em;
      }
    }
  }
}
