.popup-faq {
  width: 320px;
  height: 480px;

  margin: 0 auto;

  display: none;

  z-index: 1001;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 71px;

    border: 2px solid #000;
    height: 100%;

    padding-bottom: 71px;

    /* стили для слайдера */

    .swiper-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;

      width: 100%;
    }

    .swiper-wrapper {
      width: 100%;
    }

    .swiper-slide {
      background-image: url('../img/faq-bg.jpg');
      background-size: 320px auto;
      background-repeat: no-repeat;
      background-position: top center;
      width: 100% !important;
    }

    .swiper-pagination {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .swiper-pagination-bullet {
      width: 9px !important;
      height: 9px !important;
      background-color: #fafcfd !important;
      opacity: 1 !important;

      &-active {
        position: relative;
        width: 15px !important;
        height: 15px !important;

        background-color: transparent !important;
        border: 2px solid #fafcfd !important;

        &::after {
          position: absolute;
          content: '';
          width: 7px;
          height: 7px;
          background-color: #fafcfd;
          border-radius: 5px;
          top: 2px;
          left: 2px;
        }
      }
    }
  }

  /*Стили списка внутри слайдера*/

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    width: 100%;
    height: 409px;

    padding-left: 10px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    width: 100%;
  }

  &__question {
    font: {
      size: 0.938em;
      weight: 900;
      family: $main-font;
    }

    color: $yellow-hover;
    line-height: 1;
    text-transform: uppercase;
  }

  &__answer {
    font: {
      size: 0.750em;
      weight: 900;
      family: $main-font;
    }

    color: $text-white;
    line-height: 1em;
    text-transform: uppercase;
  }

  /* стили общие для попапов */

  &__close {
    background-color: #ee2e24;
    background-image: url('../img/menu-close.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center center;

    border: 2px solid #000;
    border-radius: 15px;
    width: 27px;
    height: 27px;
    margin-right: 10px;

    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #8dc63f;
      opacity: 0.7;
      transition: 0.2s ease-in;
    }

    &:active {
      background-color: #8dc63f;
      opacity: 1;
      transition: 0.2s ease-in;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    background-color: $popup-header;

    border-bottom: 2px solid #000;
  }

  &__title {
    width: 100%;

    font: {
      size: 1.375em;
      family: $main-font;
      weight: 900;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0;
  }
}

@media (min-width: $smartphones) {
  .popup-faq {
    width: 360px;
    height: 640px;

    z-index: 1001;

    &__wrapper {
      margin-top: 86px;

      padding-bottom: 86px;

      /* стили для слайдера */

      .swiper-slide {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        width: 100% !important;
      }

      .swiper-pagination {
        margin-bottom: 35px;
      }

      .swiper-pagination-bullet {
        width: 12px !important;
        height: 12px !important;
        background-color: #fafcfd !important;
        opacity: 1 !important;

        &-active {
          position: relative;
          width: 20px !important;
          height: 20px !important;

          background-color: transparent !important;
          border: 2px solid #fafcfd !important;

          &::after {
            position: absolute;
            content: '';
            width: 11px;
            height: 11px;
            background-color: #fafcfd;
            border-radius: 5px;
            top: 2px;
            left: 2px;
          }
        }
      }
    }

    /*Стили списка внутри слайдера*/

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;

      width: 100%;
      height: 516px;

      padding-left: 10px;
      margin-top: 14px;
    }

    &__question {
      font: {
        size: 1.375em;
      }

      margin-top: 0;
      margin-bottom: 5px;
    }

    &__answer {
      font: {
        size: 1em;
      }
      margin-bottom: 23px;
    }

    /* стили общие для попапов */

    &__close {
      background-color: #ee2e24;
      background-image: url('../img/menu-close.png');
      background-size: 15px 15px;

      min-width: 30px;
      max-width: 30px;
      height: 30px;
      margin-right: 14px;
    }

    &__title {
      width: 100%;

      font: {
        size: 1.55em;
      }

      padding-left: 15px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin: 0;
    }
  }
}

@media (min-width: $wsvga) {
  .popup-faq {
    width: 600px;
    height: 800px;

    &__wrapper {
      margin-top: 84px;

      padding-bottom: 84px;

      /* стили для слайдера */

      .swiper-slide {
        background-image: url('../img/slide-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        width: 100% !important;
      }

      .swiper-pagination {
        margin-bottom: 35px;
      }

      .swiper-pagination-bullet {
        width: 15px !important;
        height: 15px !important;
        background-color: #fafcfd !important;
        opacity: 1 !important;

        &-active {
          position: relative;
          width: 23px !important;
          height: 23px !important;

          background-color: transparent !important;
          border: 2px solid #fafcfd !important;

          &::after {
            position: absolute;
            content: '';
            width: 13px;
            height: 13px;
            background-color: #fafcfd;
            border-radius: 7px;
            top: 3px;
            left: 3px;
          }
        }
      }
    }

    /*Стили списка внутри слайдера*/

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;

      width: 100%;
      height: 659px;

      padding-left: 30px;
      margin-top: 30px;
    }

    &__item {
      margin-bottom: 30px;
    }

    &__question {
      font: {
        size: 1.5em;
      }

      margin-top: 0;
      margin-bottom: 23px;
    }

    &__answer {
      font: {
        size: 1.250em;
      }
    }

    /* стили общие для попапов */

    &__close {
      background-color: #ee2e24;
      background-image: url('../img/menu-close.png');
      background-size: 15px 15px;
      margin-right: 30px;
    }

    &__title {
      width: 100%;

      font: {
        size: 1.75em;
      }

      padding-left: 30px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin: 0;
    }
  }
}

@media (min-width: $tablets) {
  .popup-faq {
    width: 600px;
    height: 800px;

    &__wrapper {
      margin-top: 84px;

      padding-bottom: 0;
      height: auto;

      /* стили для слайдера */

      .swiper-slide {
        background-image: url('../img/slide-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        width: 100% !important;
      }

      .swiper-pagination {
        margin-bottom: 35px;
      }

      .swiper-pagination-bullet {
        width: 15px !important;
        height: 15px !important;
        background-color: #fafcfd !important;
        opacity: 1 !important;

        &-active {
          position: relative;
          width: 23px !important;
          height: 23px !important;

          background-color: transparent !important;
          border: 2px solid #fafcfd !important;

          &::after {
            position: absolute;
            content: '';
            width: 13px;
            height: 13px;
            background-color: #fafcfd;
            border-radius: 7px;
            top: 3px;
            left: 3px;
          }
        }
      }
    }

    /*Стили списка внутри слайдера*/

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;

      width: 100%;
      height: 659px;

      padding-left: 30px;
      margin-top: 30px;
    }

    &__item {
      margin-bottom: 30px;
    }

    &__question {
      font: {
        size: 1.75em;
      }

      margin-top: 0;
      margin-bottom: 23px;
    }

    &__answer {
      font: {
        size: 1.50em;
      }
    }

    /* стили общие для попапов */

    &__close {
      background-color: #ee2e24;
      background-image: url('../img/menu-close.png');
      background-size: 15px 15px;
      margin-right: 30px;
    }

    &__title {
      width: 100%;

      font: {
        size: 2em;
      }

      padding-left: 30px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin: 0;
    }
  }
}

@media (min-width: $laptop) {
  .popup-faq {
    width: 410px;
    height: 534px;

    &__wrapper {
      margin-top: 84px;

      padding-bottom: 0;
      height: 534px;

      /* стили для слайдера */

      .swiper-container {
        height: 100%;
      }

      .swiper-slide {
        background-image: url('../img/slide-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        width: 100% !important;
      }

      .swiper-pagination {
        margin-bottom: 20px;
      }

      .swiper-pagination-bullet {
        width: 15px !important;
        height: 15px !important;
        background-color: #fafcfd !important;
        opacity: 1 !important;

        &-active {
          position: relative;
          width: 23px !important;
          height: 23px !important;

          background-color: transparent !important;
          border: 2px solid #fafcfd !important;

          &::after {
            position: absolute;
            content: '';
            width: 13px;
            height: 13px;
            background-color: #fafcfd;
            border-radius: 7px;
            top: 3px;
            left: 3px;
          }
        }
      }
    }

    /*Стили списка внутри слайдера*/

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;

      width: 100%;
      height: 450px;

      margin-top: 20px;

      max-height: 410px;
      overflow-y: scroll;
    }

    &__item {
      margin-bottom: 30px;
      padding-left: 10px;
    }

    &__question {
      font: {
        size: 1.125em;
      }

      margin-top: 0;
      margin-bottom: 23px;
    }

    &__answer {
      font: {
        size: 0.875em;
      }
    }

    /* стили общие для попапов */

    &__close {
      background-color: #ee2e24;
      background-image: url('../img/menu-close.png');
      background-size: 15px 15px;
      margin-right: 30px;
    }

    &__title {
      width: 100%;

      font: {
        size: 1.75em;
      }

      padding-left: 10px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin: 0;
    }
  }
}

@media (min-width: $widebooks) {
  .popup-faq {
    width: 505px;
    height: 658px;

    &__wrapper {
      margin-top: 84px;

      padding-bottom: 0;
      height: 658px;

      /* стили для слайдера */

      .swiper-container {
        height: 100%;
      }

      .swiper-slide {
        background-image: url('../img/slide-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        width: 100% !important;
      }

      .swiper-pagination {
        margin-bottom: 20px;
      }

      .swiper-pagination-bullet {
        width: 15px !important;
        height: 15px !important;
        background-color: #fafcfd !important;
        opacity: 1 !important;

        &-active {
          position: relative;
          width: 23px !important;
          height: 23px !important;

          background-color: transparent !important;
          border: 2px solid #fafcfd !important;

          &::after {
            position: absolute;
            content: '';
            width: 13px;
            height: 13px;
            background-color: #fafcfd;
            border-radius: 7px;
            top: 3px;
            left: 3px;
          }
        }
      }
    }

    /*Стили списка внутри слайдера*/

    &__list {
      list-style: none;
      margin: 0;
      padding: 0;

      width: 100%;
      height: 500px;

      margin-top: 20px;

      max-height: 500px;
      overflow-y: scroll;
    }

    &__item {
      margin-bottom: 45px;
      padding-left: 20px;
      padding-right: 20px;

      width: auto;
    }

    &__question {
      font: {
        size: 1.375em;
      }

      margin-top: 0;
      margin-bottom: 8px;
    }

    &__answer {
      font: {
        size: 1.125em;
      }
    }

    /* стили общие для попапов */

    &__close {
      background-color: #ee2e24;
      background-image: url('../img/menu-close.png');
      background-size: 15px 15px;
      margin-right: 20px;

      min-width: 42px;
      height: 42px;

      border-radius: 25px;
    }

    &__title {
      width: 100%;

      font: {
        size: 2.188em;
      }

      padding-left: 20px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin: 0;
    }
  }
}
