.popup-about {
  width: 320px;
  height: 480px;

  margin: 0 auto;

  display: none;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 71px;

    border: 2px solid #000;
    height: 100%;

    padding-bottom: 71px;

    background-image: url('../img/about-bg.jpg');
    background-size: 320px auto;
    background-position: top 50px center;
    background-repeat: no-repeat;
  }

  &__close {
    background-color: #ee2e24;
    background-image: url('../img/menu-close.png');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: center center;

    border: 2px solid #000;
    border-radius: 15px;
    width: 27px;
    height: 27px;
    margin-right: 10px;

    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #8dc63f;
      opacity: 0.7;
      transition: 0.2s ease-in;
    }

    &:active {
      background-color: #8dc63f;
      opacity: 1;
      transition: 0.2s ease-in;
    }
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;

    background-color: $popup-header;

    border-bottom: 2px solid #000;
  }

  &__title {
    width: 100%;

    font: {
      size: 1.375em;
      family: $ultra-font;
      weight: 900;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    padding-left: 10px;
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0;
  }

  &__description {
    background-color: $popup-header;

    border-top: 2px solid #000;
    width: 100%;
    margin: 0;

    font: {
      size: 0.875em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;

    max-height: 110px;
    min-height: 110px;
    overflow-y: scroll;
  }
}

@media (min-width: $smartphones) {
  .popup-about {
    width: 360px;
    height: 640px;

    &__wrapper {
      margin-top: 86px;

      padding-bottom: 86px;

      background-image: url('../img/about-bg.jpg');
      background-size: 360px 329px;
      background-position: top 54px center;
    }

    &__close {
      background-image: url('../img/menu-close.png');
      background-size: 15px 15px;
      min-width: 30px;
      max-width: 30px;
      height: 30px;
      margin-right: 14px;
    }

    &__title {
      width: 100%;

      font: {
        size: 1.55em;
      }

      color: $text-black;
      line-height: 1;
      text-transform: uppercase;

      padding-left: 15px;
      padding-top: 14px;
      padding-bottom: 14px;
      margin: 0;
    }

    &__description {
      background-color: $popup-header;

      border-top: 2px solid #000;
      width: 100%;
      margin: 0;

      font: {
        size: 1.125em;
      }

      line-height: 1.250em;

      padding-left: 14px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 14px;

      max-height: 172px;
      overflow-y: scroll;
    }
  }
}

@media (min-width: $wsvga) {
  .popup-about {
    width: 600px;
    height: 800px;

    &__wrapper {
      margin-top: 120px;

      padding-bottom: 120px;

      background-image: url('../img/about-bg.jpg');
      background-size: 600px auto;
      background-position: top center;
    }

    &__close {
      background-image: url('../img/menu-close.png');
      background-size: 15px 15px;
      min-width: 30px;
      max-width: 30px;
      height: 30px;
      margin-right: 30px;
    }

    &__title {
      width: 100%;

      font: {
        size: 1.75em;
      }

      padding-left: 30px;
    }

    &__description {
      background-color: $popup-header;

      border-top: 2px solid #000;
      width: 100%;
      margin: 0;

      font: {
        size: 1.250em;
      }

      line-height: 1.250em;

      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 30px;

      max-height: 202px;
      overflow-y: scroll;
    }
  }
}

@media (min-width: $tablets) {
  .popup-about {
    width: 600px;
    height: 800px;

    &__wrapper {
      margin-top: 150px;

      padding-bottom: 0;


      background-image: url('../img/about-bg.jpg');
      background-size: 600px auto;
      background-position: top 50px center;
    }

    &__close {
      background-image: url('../img/menu-close.png');
      background-size: 25px 25px;
      min-width: 50px;
      max-width: 50px;
      height: 50px;
      margin-right: 30px;
      border-radius: 30px;
    }

    &__title {
      width: 100%;

      font: {
        size: 2em;
      }

      padding-left: 30px;
    }

    &__description {
      background-color: $popup-header;

      border-top: 2px solid #000;
      width: 100%;
      margin: 0;

      font: {
        size: 1.50em;
      }

      line-height: 1.6250em;

      padding-left: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 30px;

      max-height: 252px;
      min-height: 252px;
      overflow-y: scroll;
    }
  }
}

@media (min-width: $laptop) {
  .popup-about {
    width: 410px;
    height: 534px;

    &__wrapper {
      margin-top: 150px;

      padding-bottom: 0;


      background-image: url('../img/about-bg.jpg');
      background-size: contain;
      background-position: top 20px center;
    }

    &__close {
      background-image: url('../img/menu-close.png');
      background-size: 15px 15px;
      min-width: 30px;
      max-width: 30px;
      height: 30px;
      margin-right: 10px;
    }

    &__title {
      width: 100%;

      font: {
        size: 1.75em;
      }

      padding-left: 10px;
    }

    &__description {
      font: {
        size: 1em;
      }

      line-height: 1.125em;

      padding-left: 10px;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-right: 10px;

      max-height: 150px;
      min-height: 150px;
      overflow-y: scroll;
    }
  }
}

@media (min-width: $widebooks) {
  .popup-about {
    width: 505px;
    height: 658px;

    &__wrapper {
      margin-top: 150px;

      padding-bottom: 0;


      background-image: url('../img/about-bg.jpg');
      background-size: contain;
      background-position: top 30px center;
    }

    &__close {
      background-image: url('../img/menu-close.png');
      background-size: 15px 15px;
      min-width: 42px;
      max-width: 42px;
      height: 42px;
      margin-right: 20px;
      border-radius: 25px;
    }

    &__title {
      width: 100%;

      font: {
        size: 2.188em;
      }

      padding-left: 20px;
    }

    &__description {
      font: {
        size: 1em;
      }

      line-height: 1.250em;

      padding-left: 20px;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 20px;

      width: auto;

      max-height: 195px;
      min-height: 195px;
      overflow-y: scroll;
    }
  }
}
