.reg-third {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 8px;
}

@media (min-width: $smartphones) {
  .reg-third {
    margin-top: 22px;
  }
}

@media (min-width: $wsvga) {
  .reg-third {
    margin-top: 30px;
  }
}

@media (min-width: $tablets) {
  .reg-third {
    margin-top: 120px;
  }
}

@media (min-width: $laptop) {
  .reg-third {
    margin-top: 30px;
  }
}

@media (min-width: $widebooks) {
  .reg-third {
    margin-top: 35px;
  }
}
