.reg-third {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 5px;
}

@media (min-width: $smartphones) {
  .reg-third {
    margin-top: 10px;
  }
}

@media (min-width: $wsvga) {
  .reg-third {
    margin-top: 20px;
  }
}

@media (min-width: $tablets) {
  .reg-third {
    margin-top: 20px;
  }
}

@media (min-width: $laptop) {
  .reg-third {
    margin-top: 20px;
  }
}

@media (min-width: $widebooks) {
  .reg-third {
    margin-top: 25px;
  }
}
