.reg-first {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-top: 6px;
  padding-left: 8px;
  padding-right: 8px;

  width: 100%;
}

@media (min-width: $smartphones) {
  .reg-first {
    margin-top: 20px;
    padding-left: 1px;
    padding-right: 1px;
  }
}

@media (min-width: $wsvga) {
  .reg-first {
    margin-top: 30px;
  }
}

@media (min-width: $tablets) {
  .reg-first {
    margin-top: 30px;
  }
}

@media (min-width: $laptop) {
  .reg-first {
    margin-top: 16px;
    padding-left: 1px;
    padding-right: 1px;
  }
}

@media (min-width: $widebooks) {
  .reg-first {
    margin-top: 20px;
  }
}
