.second-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &--code {
    .second-item__input {
      order: 2;
    }

    .second-item__label {
      order: 1;
    }

    .second-item__disclaimer {
      order: 3;
    }

    input:focus ~ label,
    label:active {
      color: $white-hover;
      border-color: $white-hover;
    }

    input:focus {
      border-color: $white-hover;
    }
  }

  &--agreement {
    margin-top: 7px;
    margin-bottom: 3px;
    align-items: flex-start;
  }

  &--personal {
    margin-top: 4px;
    margin-bottom: 3px;
    align-items: flex-start;
  }

  &__link {
    text-decoration: underline;
    color: $text-black;
  }

  &__label--code {
    font: {
      size: 1.375em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;

    text-align: center;
  }

  &__label--agreement {
    font: {
      size: 0.625em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;
  }

  &__label--personal {
    font: {
      size: 0.625em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;
  }

  &__input--code {
    font: {
      size: 3em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    letter-spacing: 8px;
    text-align: center;

    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    border: 3px solid #000;
    margin-top: 2px;

    padding-left: 25px;
    padding-right: 25px;

    &:hover + label {
      border-color: $white-hover;
      color: $white-hover;
      pointer-events: none;
    }
  }

  &__disclaimer {
    font: {
      size: 0.75em;
      family: $ultra-font;
      weight: 900;
    }

    color: $text-black;
    line-height: 0.875em;
    text-transform: uppercase;
    text-align: center;

    width: 190px;
    margin-top: 2px;
  }
}

.second-item__input--agreement + label {
  @include checkbox-default-1;
}

.second-item__input--agreement + label::before {
  @include custom-checkbox-1;
}

.second-item__input--agreement:checked + label::after {
  @include checkbox-checked-1;
}

.second-item__input--personal + label {
  @include checkbox-default-2;
}

.second-item__input--personal + label::before {
  @include custom-checkbox-2;
}

.second-item__input--personal:checked + label::after {
  @include checkbox-checked-2;
}


@media (min-width: $smartphones) {
  .second-item {
    &--agreement {
      margin: 0 auto;
      margin-top: 20px;
    }

    &--personal {
      margin-top: 4px;
      margin-bottom: 3px;
    }

    &__label--code {
      font: {
        size: 1.5em;
      }
    }

    &__label--agreement {
      font: {
        size: 0.875em;
      }
    }

    &__label--personal {
      font: {
        size: 0.875em;
      }
    }

    &__input--code {
      font: {
        size: 3.313em;
      }

      margin-top: 10px;

      padding-left: 30px;
      padding-right: 30px;
    }

    &__disclaimer {
      font: {
        size: 0.938em;
      }

      width: 230px;
      margin-top: 4px;
    }
  }
}

@media (min-width: $wsvga) {
  .second-item {
    &--agreement {
      margin: 0 auto;
      margin-top: 30px;
    }

    &--personal {
      margin-top: 20px;
    }

    &__label--code {
      font: {
        size: 1.75em;
      }
    }

    &__label--agreement {
      font: {
        size: 1.250em;
      }
    }

    &__label--personal {
      font: {
        size: 1.250em;
      }
    }

    &__input--code {
      font: {
        size: 3.5em;
      }

      margin-top: 20px;

      padding-left: 40px;
      padding-right: 40px;
    }

    &__disclaimer {
      font: {
        size: 1em;
      }

      width: 380px;
      margin-top: 15px;
    }
  }
}

@media (min-width: $tablets) {
  .second-item {
    &--agreement {
      margin: 0 auto;
      margin-top: 40px;
    }

    &--personal {
      margin-top: 30px;
    }

    &__label--code {
      font: {
        size: 2em;
      }
    }

    &__label--agreement {
      font: {
        size: 1.50em;
      }
    }

    &__label--personal {
      font: {
        size: 1.50em;
      }
    }

    &__input--code {
      font: {
        size: 3.75em;
      }

      margin-top: 20px;
      padding-left: 65px;
      padding-right: 65px;
    }

    &__disclaimer {
      font: {
        size: 1.25em;
      }

      width: 450px;
      margin-top: 15px;
    }
  }
}

@media (min-width: $laptop) {
  .second-item {
    &--agreement {
      margin: 0 auto;
      margin-top: 20px;
    }

    &--personal {
      margin-top: 20px;
    }

    &__label--code {
      font: {
        size: 1.313em;
      }
    }

    &__label--agreement {
      font: {
        size: 1.063em;
      }
    }

    &__label--personal {
      font: {
        size: 1.063em;
      }
    }

    &__input--code {
      font: {
        size: 3.125em;
      }

      margin-top: 10px;
      width: 100%;

      padding-left: 30px;
      padding-right: 30px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &__disclaimer {
      font: {
        size: 0.787em;
      }

      width: 250px;
      margin-top: 5px;
    }
  }
}

@media (min-width: $netbooks) {
  .second-item {
    &__input--code {
      padding-left: 33px;
      padding-right: 33px;
    }
  }
}

@media (min-width: $widebooks) {
  .second-item {
    &--agreement {
      margin: 0 auto;
      margin-top: 20px;
    }

    &--personal {
      margin-top: 20px;
    }

    &__label--code {
      font: {
        size: 1.75em;
      }
    }

    &__label--agreement {
      font: {
        size: 1.375em;
      }
    }

    &__label--personal {
      font: {
        size: 1.375em;
      }
    }

    &__input--code {
      font: {
        size: 4.125em;
      }

      margin-top: 10px;
      width: 100%;

      padding-left: 45px;
      padding-right: 45px;
      padding-top: 5px;
      padding-bottom: 5px;
    }

    &__disclaimer {
      font: {
        size: 1em;
      }

      width: 256px;
      margin-top: 5px;
    }
  }
}
