.social-item {
  background-color: $social-item-bg;
  border-radius: 20px;
  width: 33px;
  height: 33px;
  position: relative;

  &:hover {
    background-color: $social-hover;
  }

  &__link {
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
    outline: none;
  }

  .fa-youtube-play::before {
    position: absolute;
    content: '\f16a';
    font-size: 22px;
    color: $text-gray;
    top: 6px;
    left: 5px;
  }

  .fa-facebook::before {
    position: absolute;
    content: '\f09a';
    font-size: 22px;
    color: $text-gray;
    top: 6px;
    left: 9px;
  }

  .fa-vk::before {
    position: absolute;
    content: '\f189';
    font-size: 22px;
    color: $text-gray;
    top: 5px;
    left: 5px;
  }

  .fa-twitter::before {
    position: absolute;
    content: '\f099';
    font-size: 22px;
    color: $text-gray;
    top: 6px;
    left: 7px;
  }

  .fa-instagram::before {
    position: absolute;
    content: '\f16d';
    font-size: 22px;
    color: $text-gray;
    top: 6px;
    left: 7px;
  }

  .fa-odnoklassniki::before {
    position: absolute;
    content: '\f263';
    font-size: 22px;
    color: $text-gray;
    top: 6px;
    left: 9px;
  }
}
/*
@media (min-width: $netbooks) {
  .social-item {
    background-color: $social-item-bg;
    border-radius: 20px;
    width: 39px;
    height: 39px;
    position: relative;

    &:hover {
      background-color: $social-hover;
    }

    &__link {
      display: block;
      text-decoration: none;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: none;
    }

    .fa-youtube-play::before {
      position: absolute;
      content: '\f16a';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 7px;
    }

    .fa-facebook::before {
      position: absolute;
      content: '\f09a';
      font-size: 25px;
      color: $text-gray;
      top: 8px;
      left: 11px;
    }

    .fa-vk::before {
      position: absolute;
      content: '\f189';
      font-size: 25px;
      color: $text-gray;
      top: 6px;
      left: 5px;
    }

    .fa-twitter::before {
      position: absolute;
      content: '\f099';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 8px;
    }

    .fa-instagram::before {
      position: absolute;
      content: '\f16d';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 9px;
    }

    .fa-odnoklassniki::before {
      position: absolute;
      content: '\f263';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 10px;
    }
  }
}
*/
@media (min-width: $wide-netbooks) {
  .social-item {
    background-color: $social-item-bg;
    border-radius: 20px;
    width: 39px;
    height: 39px;
    position: relative;

    &:hover {
      background-color: $social-hover;
    }

    &__link {
      display: block;
      text-decoration: none;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: none;
    }

    .fa-youtube-play::before {
      position: absolute;
      content: '\f16a';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 7px;
    }

    .fa-facebook::before {
      position: absolute;
      content: '\f09a';
      font-size: 25px;
      color: $text-gray;
      top: 8px;
      left: 11px;
    }

    .fa-vk::before {
      position: absolute;
      content: '\f189';
      font-size: 25px;
      color: $text-gray;
      top: 6px;
      left: 5px;
    }

    .fa-twitter::before {
      position: absolute;
      content: '\f099';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 8px;
    }

    .fa-instagram::before {
      position: absolute;
      content: '\f16d';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 9px;
    }

    .fa-odnoklassniki::before {
      position: absolute;
      content: '\f263';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 10px;
    }
  }
}
@media (min-width: $notebooks) {
  .social-item {
    background-color: $social-item-bg;
    border-radius: 20px;
    width: 39px;
    height: 39px;
    position: relative;

    &:hover {
      background-color: $social-hover;
    }

    &__link {
      display: block;
      text-decoration: none;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: none;
    }

    .fa-youtube-play::before {
      position: absolute;
      content: '\f16a';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 7px;
    }

    .fa-facebook::before {
      position: absolute;
      content: '\f09a';
      font-size: 25px;
      color: $text-gray;
      top: 8px;
      left: 11px;
    }

    .fa-vk::before {
      position: absolute;
      content: '\f189';
      font-size: 25px;
      color: $text-gray;
      top: 6px;
      left: 5px;
    }

    .fa-twitter::before {
      position: absolute;
      content: '\f099';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 8px;
    }

    .fa-instagram::before {
      position: absolute;
      content: '\f16d';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 9px;
    }

    .fa-odnoklassniki::before {
      position: absolute;
      content: '\f263';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 10px;
    }
  }
}
@media (min-width: $widebooks) {
  .social-item {
    background-color: $social-item-bg;
    border-radius: 20px;
    width: 39px;
    height: 39px;
    position: relative;

    &:hover {
      background-color: $social-hover;
    }

    &__link {
      display: block;
      text-decoration: none;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: none;
    }

    .fa-youtube-play::before {
      position: absolute;
      content: '\f16a';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 7px;
    }

    .fa-facebook::before {
      position: absolute;
      content: '\f09a';
      font-size: 25px;
      color: $text-gray;
      top: 8px;
      left: 11px;
    }

    .fa-vk::before {
      position: absolute;
      content: '\f189';
      font-size: 25px;
      color: $text-gray;
      top: 6px;
      left: 5px;
    }

    .fa-twitter::before {
      position: absolute;
      content: '\f099';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 8px;
    }

    .fa-instagram::before {
      position: absolute;
      content: '\f16d';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 9px;
    }

    .fa-odnoklassniki::before {
      position: absolute;
      content: '\f263';
      font-size: 25px;
      color: $text-gray;
      top: 7px;
      left: 10px;
    }
  }
}
@media (min-width: $hd) {
  .social-item {
    background-color: $social-item-bg;
    border-radius: 25px;
    width: 47px;
    height: 47px;
    position: relative;

    &:hover {
      background-color: $social-hover;
    }

    &__link {
      display: block;
      text-decoration: none;
      height: 100%;
      width: 100%;
      cursor: pointer;
      outline: none;
    }

    .fa-youtube-play::before {
      position: absolute;
      content: '\f16a';
      font-size: 32px;
      color: $text-gray;
      top: 7px;
      left: 7px;
    }

    .fa-facebook::before {
      position: absolute;
      content: '\f09a';
      font-size: 32px;
      color: $text-gray;
      top: 8px;
      left: 11px;
    }

    .fa-vk::before {
      position: absolute;
      content: '\f189';
      font-size: 32px;
      color: $text-gray;
      top: 6px;
      left: 5px;
    }

    .fa-twitter::before {
      position: absolute;
      content: '\f099';
      font-size: 32px;
      color: $text-gray;
      top: 7px;
      left: 8px;
    }

    .fa-instagram::before {
      position: absolute;
      content: '\f16d';
      font-size: 32px;
      color: $text-gray;
      top: 7px;
      left: 9px;
    }

    .fa-odnoklassniki::before {
      position: absolute;
      content: '\f263';
      font-size: 32px;
      color: $text-gray;
      top: 7px;
      left: 10px;
    }
  }
}
