@import "normalize.scss";
@import "variables.scss";
@import "mixins.scss";
@import "fonts.scss";
@import "global-styles.scss";
@import "sass/promo/event/body-event.scss";
@import "sass/promo/event/event-wrapper.scss";
@import "sass/promo/event/main-event.scss";
@import "sass/promo/event/event-section.scss";
@import "sass/promo/event/event-video.scss";
@import "sass/promo/event/event-form.scss";
@import "sass/promo/event/event-list.scss";
@import "sass/promo/event/event-item.scss";
@import "sass/promo/event/event-slideup.scss";
@import "sass/promo/event/event-slidedown.scss";
@import "sass/promo/event/event-slide.scss";
@import "sass/promo/event/overlay-event.scss";
@import "sass/promo/event/popup-register.scss";
@import "sass/promo/event/register-form.scss";
@import "sass/promo/event/register-list.scss";
@import "sass/promo/event/register-item.scss";
@import "sass/promo/event/popup-correct.scss";
@import "sass/promo/event/correct-controls.scss";
@import "sass/promo/event/popup-incorrect.scss";
@import "sass/promo/event/incorrect-controls.scss";
@import "sass/promo/event/popup-chance.scss";
@import "sass/promo/interview/inter-false.scss";
@import "sass/promo/interview/false-markover.scss";
@import "sass/promo/interview/interview-body.scss";
@import "sass/promo/interview/interview-wrapper.scss";
@import "sass/promo/interview/main-interview.scss";
@import "sass/promo/interview/interview-slideup.scss";
@import "sass/promo/interview/interview-content.scss";
@import "sass/promo/interview/interview-slide.scss";
@import "sass/promo/interview/interview-video.scss";
@import "sass/promo/interview/interview-details.scss";
@import "sass/promo/interview/interview-info.scss";
@import "sass/promo/interview/interview-slidedown.scss";
@import "sass/promo/trailers/trailers-body.scss";
@import "sass/promo/trailers/trailers-wrapper.scss";
@import "sass/promo/trailers/trailers-main.scss";
@import "sass/promo/trailers/trailers-slideup.scss";
@import "sass/promo/trailers/trailers-section.scss";
@import "sass/promo/trailers/trailers-slidedown.scss";
@import "sass/promo/trailers/trailer-slide.scss";
@import "sass/promo/trailers/trailer-video.scss";
@import "sass/promo/trailers/trailer-details.scss";
@import "sass/promo/game/game-body.scss";
@import "sass/promo/game/game-main.scss";
@import "sass/promo/game/game-wrapper.scss";
@import "sass/promo/game/game-content.scss";
@import "sass/promo/game/game-details.scss";
@import "sass/promo/game/game-false.scss";
@import "wrapper.scss";
@import "overlay.scss";
@import "overlay-1.scss";
@import "popup-city.scss";
@import "popup-about.scss";
@import "popup-faq.scss";
@import "popup-choose.scss";
@import "header.scss";
@import "header-nav.scss";
@import "nav-list.scss";
@import "nav-item.scss";
@import "header-opener.scss";
@import "header-buttons.scss";
@import "main.scss";
@import "main-index.scss";
@import "index-counter.scss";
@import "counter-list.scss";
@import "counter-item.scss";
@import "main-reg.scss";
@import "toggle-list.scss";
@import "toggle-item.scss";
@import "index-promo.scss";
@import "index-place.scss";
@import "reg-first.scss";
@import "first-form.scss";
@import "first-list.scss";
@import "first-item.scss";
@import "user-list.scss";
@import "user-item.scss";
@import "reg-second.scss";
@import "second-form.scss";
@import "second-list.scss";
@import "second-item.scss";
@import "reg-third.scss";
@import "third-success.scss";
@import "third-buttons.scss";
@import "footer.scss";
@import "footer-social.scss";
@import "social-item.scss";
