.third-buttons {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &__about {
    font: {
      size: 1.375em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    text-transform: uppercase;
    line-height: 1;

    background-color: $about-btn;
    border: 2px solid #000;
    border-radius: 35px;

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 14px;
    padding-bottom: 14px;

    margin-bottom: 14px;

    position: relative;

    cursor: pointer;
    outline: none;
  }

  &__youtube {
    font: {
      size: 1.375em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-white;
    text-transform: uppercase;
    line-height: 1;

    background-color: $youtube-btn;
    border: 2px solid #000;
    border-radius: 35px;

    text-decoration: none;
    display: block;
    text-align: left;

    padding-left: 22px;
    padding-right: 70px;
    padding-top: 7px;
    padding-bottom: 7px;

    position: relative;

    cursor: pointer;
    outline: none;

    &::after {
      position: absolute;
      content: '';

      width: 25px;
      height: 34px;

      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 25 34'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bisolation:isolate;%7D%3C/style%3E%3C/defs%3E%3Ctitle%3Eplay%3C/title%3E%3Cg id='Слой_2' data-name='Слой 2'%3E%3Cg id='Слой_1-2' data-name='Слой 1'%3E%3Cimage id='Vector_Smart_Object' data-name='Vector Smart Object' class='cls-1' width='25' height='34' xlink:href='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAiCAYAAACqVHINAAAACXBIWXMAAAsSAAALEgHS3X78AAABDUlEQVRIS7WXIU5DQRRFzyetw+FRKBwShWcPINgBeyh7gD2wBhRJHRtoBcHUIjFwEDChFNqZ/v57k+v+eyeT/PvmTac+A3PgCnghIX/0ql6oDO1lSNG9elAr3Mb/QVQX6nmtuNXrIEW36r6VJjXXIKoz9dSGZuvcAlF9Vyfq2Iamq26FFD2pxzY0Xva2ENU39VrtbADYE1L0oB4ahmhjgHeFFG0M8FAQ3RDgISFFfwKcgOhKgPdqU7qnjoBHYAKMO9VKwa6apk7yS0nIB3ADnI1qX/bUHLgEppA5yR1wwjcAGPQXjocxOlbiAzI66uOXVvT6jS8S8ZUoutzF19Towt0UrD4e8fXwmRF8BH0CCJri+twyXe4AAAAASUVORK5CYII='/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
      background-repeat: no-repeat;
      background-size: 25px 34px;

      top: 10px;
      right: 10px;
    }
  }
}

@media (min-width: $smartphones) {
  .third-buttons {
    &__about {
      font: {
        size: 1.613em;
      }

      border-radius: 35px;

      padding-left: 40px;
      padding-right: 40px;
      padding-top: 12px;
      padding-bottom: 12px;

      margin-bottom: 14px;
    }

    &__youtube {
      font: {
        size: 1.613em;
      }

      border-radius: 35px;

      padding-left: 40px;
      padding-right: 65px;
      padding-top: 7px;
      padding-bottom: 7px;

      &::after {
        width: 29px;
        height: 40px;

        background-size: 29px 40px;

        top: 13px;
      }
    }
  }
}

@media (min-width: $wsvga) {
  .third-buttons {
    &__about {
      font: {
        size: 1.75em;
      }

      border-radius: 35px;

      padding-left: 40px;
      padding-right: 40px;
      padding-top: 15px;
      padding-bottom: 15px;

      margin-bottom: 20px;

      &::after {
        top: 13px;
        right: 13px;
      }
    }

    &__youtube {
      font: {
        size: 1.75em;
      }

      padding-left: 40px;
      padding-right: 65px;
    }
  }
}

@media (min-width: $tablets) {
  .third-buttons {
    &__about {
      font: {
        size: 2em;
      }

      border-radius: 45px;

      padding-left: 45px;
      padding-right: 45px;
      padding-top: 15px;
      padding-bottom: 15px;

      margin-bottom: 30px;

      &::after {
        top: 13px;
        right: 13px;
      }
    }

    &__youtube {
      font: {
        size: 2em;
      }

      padding-left: 45px;
      padding-right: 80px;

      border-radius: 40px;

      &::after {
        top: 17px;
      }
    }
  }
}

@media (min-width: $laptop) {
  .third-buttons {
    &__about {
      font: {
        size: 1.625em;
      }

      border-radius: 45px;

      padding-left: 20px;
      padding-right: 63px;
      padding-top: 15px;
      padding-bottom: 15px;

      margin-bottom: 34px;

      &::after {
        top: 13px;
        right: 13px;
      }
    }

    &__youtube {
      font: {
        size: 1.625em;
      }

      padding-left: 25px;

      &::after {
        top: 13px;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .third-buttons {
    &__about {
      font: {
        size: 2em;
      }

      border-radius: 50px;

      padding-left: 28px;
      padding-right: 63px;
      padding-top: 15px;
      padding-bottom: 15px;

      margin-bottom: 34px;

      &::after {
        width: 42px;
        height: 37px;
        background-size: 42px 37px;

        top: 13px;
        right: 13px;
      }
    }

    &__youtube {
      font: {
        size: 2em;
      }

      padding-left: 35px;
      border-radius: 50px;

      &::after {
        width: 40px;
        height: 55px;
        background-size: 40px 55px;
        top: 13px;
      }
    }
  }
}
