.toggle-list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;

  margin-top: 8px;
}

@media (min-width: $smartphones) {
  .toggle-list {
    margin-top: 8px;
  }
}

@media (min-width: $wsvga) {
  .toggle-list {
    margin-top: 20px;
  }
}

@media (min-width: $laptop) {
  .toggle-list {
    margin-top: 14px;
  }
}

@media (min-width: $widebooks) {
  .toggle-list {
    margin-top: 30px;
  }
}
