$phones: 320px;
$smartphones: 360px;
$wsvga: 600px;
$tablets: 768px;
$laptop: 1024px;
$netbooks: 1280px;
$wide-netbooks: 1366px;
$notebooks: 1440px;
$widebooks: 1600px;
$hd: 1920px;

/*HEIGHTS*/

$netbooks-quad: 1024px;
$netbooks-wide: 720px;

/*Fonts*/
$primary-color: #000;
$secondary-color: #893b67;
$main-font: "Gotham Black", sans-serif;
$xtra-font: "Gotham Extra Light", sans-serif;
$ultra-font: "Gotham Ultra", sans-serif;

$text-black: #000000;
$text-white: #ffffff;
$text-gray: #000000;
$yellow-hover: #f8eb21;
$white-hover: #ffffff;

$btn-city: #e15998;
$btn-about: #f0e21c;
$btn-faq: #a2d9d1;

$popup-header: #f9eb1d;

$menu-bg: #f8eb21;
$menu-active: #e15998;

$header-bg: #ff6700;
$yellow-bg: #f8eb21;
$free-bg: #a2d9d1;
$submit-btn: #9cc545;
$footer-bg: #0b0a0a;
$about-btn: #9cc545;
$youtube-btn: #ff0000;

$social-item-bg: #ffffff;
$social-hover: #ff6700;
