.trailer-details {
  width: 258px;

  &__description {
    width: 258px;
    display: block;

    font: {
      size: 0.813em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;

    height: 145px;
    overflow-y: scroll;

    margin: 0;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

@media (min-width: $smartphones) {
  .trailer-details {
    width: 290px;

    &__description {
      width: 290px;
      display: block;

      font: {
        size: 0.875em;
      }

      height: 205px;
      overflow-y: scroll;

      margin: 0;
      margin-bottom: 40px;
    }
  }
}

@media (min-width: $wsvga) {
  .trailer-details {
    width: 385px;

    &__description {
      width: 385px;
      display: block;

      font: {
        size: 1.125em;
      }

      height: 240px;
      overflow-y: scroll;

      margin: 0;
    }
  }
}

@media (min-width: $laptop) {
  .trailer-details {
    width: 385px;

    &__description {
      width: 385px;
      display: block;

      font: {
        size: 1.125em;
      }

      height: 240px;
      overflow-y: scroll;

      margin: 0;
      margin-bottom: 30px;
    }
  }
}

@media (min-width: $netbooks) and (min-height: 700px) {
  .trailer-details {
    &__description {
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $widebooks) {
  .trailer-details {
    width: 506px;

    &__description {
      width: 506px;
      display: block;

      font: {
        size: 1.375em;
      }

      height: 306px;
      overflow-y: scroll;

      margin: 0;
    }
  }
}
