.winners-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: auto;

  padding-left: 25px;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 35px;
  }

  &__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-bottom: 3px;
  }

  &__name,
  &__nr {
    margin: 0;

    font: {
      size: 0.875em;
      family: $ultra-font;
      weight: 900;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;
  }

  &__nr {
    margin-right: 3px;
  }

  &__place {
    font: {
      size: 0.75em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;
  }
}

@media (min-width: $smartphones) {
  .winners-item {
    padding-left: 25px;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 35px;
    }

    &__header {
      margin-bottom: 3px;
    }

    &__name,
    &__nr {
      margin: 0;

      font: {
        size: 0.875em;
      }
    }

    &__nr {
      margin-right: 3px;
    }

    &__place {
      font: {
        size: 0.75em;
      }
    }
  }
}

@media (min-width: $wsvga) {
  .winners-item {
    padding-left: 25px;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 35px;
    }

    &__header {
      margin-bottom: 5px;
    }

    &__name,
    &__nr {
      margin: 0;

      font: {
        size: 0.875em;
      }
    }

    &__nr {
      margin-right: 3px;
    }

    &__place {
      font: {
        size: 0.75em;
      }
    }
  }
}

@media (min-width: $widebooks) {
  .winners-item {
    padding-left: 25px;
    margin-bottom: 18px;

    &:last-child {
      margin-bottom: 35px;
    }

    &__header {
      margin-bottom: 5px;
    }

    &__name,
    &__nr {
      margin: 0;

      font: {
        size: 0.875em;
      }
    }

    &__nr {
      margin-right: 3px;
    }

    &__place {
      font: {
        size: 0.75em;
      }
    }
  }
}
