.false-markover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  margin-top: 40px;

  &__title {
    font: {
      size: 1.125em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-white;
    text-transform: uppercase;
    text-align: center;
  }

  &__soon {
    background-image: url('../img/interview/soon-bg-sm.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    border: 4px solid #fff;
    width: 276px;
    height: 174px;

    position: relative;

    box-shadow:0px 0px 50px 6px rgba(0,0,0,0.3);
    -webkit-box-shadow:0px 0px 50px 6px rgba(0,0,0,0.3);
    -moz-box-shadow:0px 0px 50px 6px rgba(0,0,0,0.3);

    &::before {
      position: absolute;
      content: '';

      background-image: url('../img/interview/top-stick.svg');
      background-repeat: no-repeat;
      background-size: 63px 55px;

      width: 63px;
      height: 55px;

      top: -20px;
      left: -20px;
    }

    &::after {
      position: absolute;
      content: '';

      background-image: url('../img/interview/low-stick.svg');
      background-repeat: no-repeat;
      background-size: 52px 56px;

      width: 52px;
      height: 56px;

      bottom: -20px;
      right: -20px;
    }
  }
}

@media (min-width: $smartphones) {
  .false-markover {
    margin-top: 50px;

    &__title {
      font: {
        size: 1.5em;
      }
    }

    &__soon {
      width: 316px;
      height: 190px;
    }
  }
}

@media (min-width: $wsvga) {
  .false-markover {
    margin-top: 60px;

    &__title {
      font: {
        size: 1.625em;
      }
    }

    &__soon {
      background-image: url('../img/interview/soon-bg-2.jpg');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;

      width: 466px;
      height: 290px;

      &::before {
        background-size: 108px 95px;
        width: 108px;
        height: 95px;
      }

      &::after {
        background-size: 90px 98px;
        width: 90px;
        height: 98px;
      }
    }
  }
}

@media (min-width: $tablets) {
  .false-markover {
    margin-top: 80px;
  }
}

@media (min-width: $widebooks) {
  .false-markover {
    margin-top: 70px;

    &__title {
      font: {
        size: 2.375em;
      }
    }

    &__soon {
      width: 682px;
      height: 409px;

      &::before {
        background-size: 157px 137px;
        width: 157px;
        height: 137px;

        top: -35px;
        left: -35px;
      }

      &::after {
        background-size: 131px 141px;
        width: 131px;
        height: 141px;

        bottom: -35px;
        right: -35px;
      }
    }
  }
}

@media (min-width: $hd) {
  .false-markover {
    margin-bottom: 180px;
  }
}
