.interview-info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  width: 258px;

  &__photo {
    width: 116px;

    margin-right: 15px;
  }

  &__description {
    font: {
      size: 0.75em;
      family: $ultra-font;
      weight: 900;
    }

    color: $text-white;
    line-height: normal;
    text-transform: uppercase;

    display: block;
    max-height: 100px;

    overflow-y: scroll;
    padding-top: 15px;

    margin: 0;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}

@media (min-width: $smartphones) {
  .interview-info {
    width: 286px;

    &__photo {
      width: 129px;

      margin-right: 15px;
    }

    &__description {
      font: {
        size: 0.813em;
      }

      max-height: 130px;

      overflow-y: scroll;
      padding-top: 15px;

      margin: 0;

      &::-webkit-scrollbar {
        width: 0;
      }
    }
  }
}

@media (min-width: $wsvga) {
  .interview-info {
    width: 385px;

    &__photo {
      width: 162px;

      margin-right: 25px;
    }

    &__description {
      font: {
        size: 1em;
      }
      max-height: 145px;

      overflow-y: scroll;
      padding-top: 17px;
    }
  }
}

@media (min-width: $widebooks) {
  .interview-info {
    width: 506px;

    &__photo {
      width: 215px;

      margin-right: 30px;
    }

    &__description {
      font: {
        size: 1.375em;
      }
      max-height: 190px;

      overflow-y: scroll;
      padding-top: 30px;
    }
  }
}
