.interview-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  &__title {
    font: {
      size: 1em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;
  }
}
