.interview-content {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  width: 265px;
  margin: 0 auto;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 265px;
    margin: 0 auto;
  }

  &__title {
    font: {
      size: 1.125em;
      family: $ultra-font;
      weight: 900;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;
    margin-bottom: 0;
    margin-top: 12px;
  }

  .swiper-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
  }

  .swiper-wrapper {
    width: 100%;
  }

  .swiper-slide {
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .swiper-pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: absolute;

    bottom: 43% !important;
    left: 0 !important;
  }

  .swiper-pagination-bullet {
    width: 9px !important;
    height: 9px !important;
    background-color: #fafcfd !important;
    opacity: 1 !important;

    &-active {
      position: relative;
      width: 15px !important;
      height: 15px !important;

      background-color: transparent !important;
      border: 2px solid #fafcfd !important;

      &::after {
        position: absolute;
        content: '';
        width: 7px;
        height: 7px;
        background-color: #fafcfd;
        border-radius: 5px;
        top: 2px;
        left: 2px;
      }
    }
  }

  .swiper-btn-prev {
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.25' height='84.353' viewBox='0 0 91 112.47'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900_copy' data-name='Polygon 900 copy' class='cls-1' d='M2437,1129.18l87.18,59.3,3.83-112.49Z' transform='translate%28-2437 -1076%29'/%3E%3C/svg%3E") !important;
    background-size: 21px 29px;
    width: 21px;
    height: 29px;
    top: 33%;
    left: 1%;
  }

  .swiper-button-disabled {
    opacity: 0.5;
  }

  .swiper-btn-next {
    position: absolute;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='68.13' height='84.33' viewBox='0 0 90.84 112.44'%3E%3Cmetadata%3E%3C%3Fxpacket begin=' ' id='W5M0MpCehiHzreSzNTczkc9d'%3F%3E%3Cx:xmpmeta xmlns:x='adobe:ns:meta/' x:xmptk='Adobe XMP Core 5.6-c138 79.159824, 2016/09/14-01:09:01 '%3E%3Crdf:RDF xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23'%3E%3Crdf:Description rdf:about=''/%3E%3C/rdf:RDF%3E%3C/x:xmpmeta%3E%3C%3Fxpacket end='w'%3F%3E%3C/metadata%3E%3Cdefs%3E%3Cstyle%3E .cls-1 %7B fill: %23fef9eb; fill-rule: evenodd; %7D %3C/style%3E%3C/defs%3E%3Cpath id='Polygon_900' data-name='Polygon 900' class='cls-1' d='M3073,1129.72l-87.04,59.27-3.82-112.44Z' transform='translate%28-2982.16 -1076.56%29'/%3E%3C/svg%3E%0A") !important;
    background-size: 21px 29px;
    width: 21px;
    height: 29px;
    top: 33%;
    right: 1%;
  }
}
