.inter-false {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 300px;
  margin: 0 auto;
}

@media (min-width: $smartphones) {
  .inter-false {
    width: 320px;
  }
}

@media (min-width: $wsvga) {
  .inter-false {
    width: 474px;
  }
}

@media (min-width: $widebooks) {
  .inter-false {
    width: 690px;
  }
}
