.event-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  &__title {
    font: {
      size: 1.25em;
      family: $ultra-font;
      weight: 900;
    }

    color: $text-black;
    line-height: 1;

    text-align: center;

    margin-top: 7px;
    margin-bottom: 0;
  }

  &--night {
    .event-section__title {
      color: $text-white;
    }

    .event-item__label {
      color: $text-white;
    }

    .event-item__input + label::before {
      border-color: #fff;
    }
  }
}

@media (min-width: $smartphones) {
  .event-section {
    &__title {
      font: {
        size: 1.375em;
      }

      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $wsvga) {
  .event-section {
    &__title {
      font: {
        size: 1.625em;
      }

      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}

@media (min-width: $laptop) {
  .event-section {
    width: 384px;
  }
}

@media (min-width: $widebooks) {
  .event-section {
    &__title {
      font: {
        size: 2.375em;
      }

      margin-top: 20px;
      margin-bottom: 0;
    }
  }
}
