.event-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  margin-top: 16px;

  &__submit {
    font: {
      size: 1.375em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    text-align: center;
    text-transform: uppercase;

    background-color: $submit-btn;

    border: 2px solid #000;
    border-radius: 25px;

    padding: 7px 13px;
    margin-top: 15px;

    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
    -moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  }
}
