.event-slidedown {
  width: 100%;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin-top: 10px;

  &--disabled {
    display: none;
  }

  &__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  &__pic {
    width: 29px;
    height: 21px;

    margin: 0 auto;

    display: block;
  }

  &__link:hover img {
    opacity: 0.5;
  }
}

@media (min-width: $smartphones) {
  .event-slidedown {
    margin-top: 20px;

    &__pic {
      width: 39px;
      height: 28px;
    }
  }
}

@media (min-width: $wsvga) {
  .event-slidedown {
    margin-top: 80px;
  }
}

@media (min-width: $tablets) {
  .event-slidedown {
    margin-top: 270px;
  }
}

@media (min-width: $laptop) {
  .event-slidedown {
    margin-top: 20px;
  }
}

@media (min-width: $notebooks) {
  .event-slidedown {
    margin-top: 20px;
  }
}

@media (min-width: $hd) {
  .event-slidedown {
    margin-top: 100px;
  }
}
