.event-item {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  &:not(:last-child) {
    margin-bottom: 17px;
  }

  &__label {
    font: {
      size: 0.688em;
      family: $main-font;
      weight: 900;
    }

    color: $text-black;
    line-height: 1;
  }

  &__input + label {
    @include radio-default-1;
  }

  &__input + label::before {
    @include custom-radio-1;
  }

  &__input:checked + label::after {
    @include radio-checked-1;
  }
}
