.event-slidedown {
  width: 100%;

  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  margin-top: 10px;

  &__link {
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  &__pic {
    width: 29px;
    height: 21px;

    margin: 0 auto;

    display: block;
  }

  &__link:hover img {
    opacity: 0.5;
  }
}
