.event-item {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  position: relative;

  &:not(:last-child) {
    margin-bottom: 17px;
  }

  &__label {
    font: {
      size: 0.688em;
      family: $ultra-font;
      weight: 900;
    }

    color: $text-black;
    line-height: 1;
  }

  &__input + label {
    @include radio-default-1;
  }

  &__input + label::before {
    @include custom-radio-1;
  }

  &__input:checked + label::after {
    @include radio-checked-1;
  }
}

@media (min-width: $smartphones) {
  .event-item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &__label {
      font: {
        size: 0.813em;
      }
    }
  }
}

@media (min-width: $wsvga) {
  .event-item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &__label {
      font: {
        size: 1em;
      }
    }
  }
}

@media (min-width: $notebooks) {
  .event-item {
    &:not(:last-child) {
      margin-bottom: 25px;
    }

    &__label {
      font: {
        size: 1.25em;
      }
    }
  }
}
