.main-event {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 280px;

  margin: 0 auto;

  &__movie {
    display: none;
  }
}

@media (min-width: $smartphones) {
  .main-event {
    width: 304px;

    margin: 0 auto;
  }
}

@media (min-width: $wsvga) {
  .main-event {
    width: 384px;

    margin: 0 auto;
  }
}

@media (min-width: $laptop) {
  .main-event {
    position: relative;

    &__movie {
      display: block;

      position: absolute;
      top: 5%;
      left: -80%;

      background-image: url('../img/event/movie-bg.png');
      background-size: 298px 208px;
      background-repeat: no-repeat;

      width: 298px;
      height: 208px;

      margin: 0;

      font: {
        size: 1.125em;
        family: $ultra-font;
        weight: 900;
      }

      color: $text-white;
      line-height: 1;
      text-transform: uppercase;
      text-align: center;

      padding-top: 45px;
    }

    &__movie--night {
      background-image: url('../img/events/movie-bg-night.png');
      background-size: 298px 208px;
    }
  }
}

@media (min-width: $netbooks) {
  .main-event {
    &__movie {
      top: 5%;
      left: -100%;
    }
  }
}

@media (min-width: $widebooks) {
  .main-event {
    width: 565px;

    &__movie {
      left: -70%;

      background-image: url('../img/event/movie-bg.png');
      background-size: 364px 255px;
      background-repeat: no-repeat;

      width: 364px;
      height: 255px;

      padding-top: 55px;

      font: {
        size: 1.438em;
      }
    }
  }
}
