.overlay-event {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;

  flex-direction: column;
  align-items: center;
  justify-content: center;
}
