.popup-chance {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: $popup-bg;

  width: 280px;

  box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  -moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);

  padding: 10px 15px 15px 15px;
  text-align: center;

  &__title {
    font: {
      size: 1.188em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;

    width: 100%;
  }

  &__description {
    font: {
      size: 1.063em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 5px;
  }

  &__go {
    font: {
      size: 1.25em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    padding: 9px 15px;
    margin-top: 10px;

    border: 2px solid #000;
    border-radius: 35px;

    background-color: $btn-chance;
  }
}

@media (min-width: $smartphones) {
  .popup-chance {
    width: 300px;

    padding: 20px 15px 20px 15px;

    &__title {
      font: {
        size: 1.313em;
      }

      margin-top: 0;
      margin-bottom: 10px;
    }

    &__description {
      font: {
        size: 1.188em;
      }

      margin-bottom: 10px;
    }

    &__go {
      font: {
        size: 1.25em;
      }

      padding: 9px 15px;
      margin-top: 10px;
    }
  }
}

@media (min-width: $wsvga) {
  .popup-chance {
    width: 348px;

    padding: 20px 15px 20px 15px;

    &__title {
      font: {
        size: 1.5em;
      }

      margin-top: 0;
      margin-bottom: 15px;
    }

    &__description {
      font: {
        size: 1.375em;
      }

      margin-bottom: 5px;
    }

    &__go {
      font: {
        size: 1.438em;
      }

      padding: 11px 15px;
      margin-top: 15px;
    }
  }
}

@media (min-width: $widebooks) {
  .popup-chance {
    width: 440px;

    padding: 20px 15px 20px 15px;

    &__title {
      font: {
        size: 1.875em;
      }

      margin-top: 0;
      margin-bottom: 15px;
    }

    &__description {
      font: {
        size: 1.688em;
      }

      margin-bottom: 5px;
    }

    &__go {
      font: {
        size: 1.813em;
      }

      padding: 11px 15px;
      margin-top: 15px;
    }
  }
}
