.popup-register {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  background-color: $popup-bg;

  width: 280px;

  box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  -moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);

  &__upper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    width: 100%;

    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 10px;

    background-color: $popup-upper-bg;

    text-align: center;
  }

  &__title {
    font: {
      size: 1.313em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 5px;
  }

  &__description {
    font: {
      size: 0.938em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 5px;
  }

  &__lower {
    padding: 10px 15px 15px 15px;
  }
}
