.popup-chance {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: $popup-bg;

  width: 280px;

  box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  -moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);

  padding: 10px 15px 15px 15px;
  text-align: center;

  &__title {
    font: {
      size: 1.188em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;

    width: 100%;
  }

  &__description {
    font: {
      size: 1.063em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 5px;
  }

  &__go {
    font: {
      size: 1.25em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    padding: 9px 15px;
    margin-top: 10px;

    border: 2px solid #000;
    border-radius: 35px;

    background-color: $btn-chance;
  }
}
