.popup-incorrect {
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: $popup-bg;

  width: 280px;

  box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  -webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  -moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);

  padding: 10px 15px 15px 15px;
  text-align: center;

  &__title {
    font: {
      size: 1.188em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 10px;

    width: 100%;
  }

  &__description {
    font: {
      size: 1.063em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    line-height: 1;
    text-transform: uppercase;

    margin-top: 0;
    margin-bottom: 5px;
  }
}

@media (min-width: $smartphones) {
  .popup-incorrect {
    width: 300px;

    padding-top: 20px;
    padding-bottom: 20px;

    &__title {
      font: {
        size: 1.313em;
      }

      margin-top: 0;
      margin-bottom: 10px;
    }

    &__description {
      font: {
        size: 1.188em;
      }

      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $wsvga) {
  .popup-incorrect {
    width: 348px;

    padding-top: 20px;
    padding-bottom: 20px;

    &__title {
      font: {
        size: 1.5em;
      }

      margin-top: 0;
      margin-bottom: 10px;
    }

    &__description {
      font: {
        size: 1.25em;
      }

      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}

@media (min-width: $widebooks) {
  .popup-incorrect {
    width: 440px;

    padding-top: 20px;
    padding-bottom: 20px;

    &__title {
      font: {
        size: 1.875em;
      }

      margin-top: 0;
      margin-bottom: 10px;
    }

    &__description {
      font: {
        size: 1.688em;
      }

      margin-top: 0;
      margin-bottom: 10px;
    }
  }
}
