.register-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  width: 100%;

  &__submit {
    font: {
      size: 1.375em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-black;
    text-align: center;
    text-transform: uppercase;

    background-color: $submit-btn;

    border: 2px solid #000;
    border-radius: 25px;

    padding: 7px 13px;
    margin: 0 auto;
    margin-top: 10px;

    box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
    -moz-box-shadow:0px 0px 20px 0px rgba(0,0,0,0.6);
  }
}

@media (min-width: $smartphones) {
  .register-form {
    &__submit {
      font: {
        size: 1.5em;
      }

      padding: 8px 18px;
      margin-top: 15px;
    }
  }
}

@media (min-width: $wsvga) {
  .register-form {
    &__submit {
      font: {
        size: 1.75em;
      }

      padding: 8px 18px;
      margin-top: 15px;
    }
  }
}

@media (min-width: $notebooks) {
  .register-form {
    &__submit {
      font: {
        size: 2.25em;
      }

      padding: 10px 27px;
      margin-top: 15px;

      border-radius: 35px;
    }
  }
}
