.game-details {
  width: 300px;

  &__description {
    display: block;

    font: {
      size: 0.813em;
      weight: 900;
      family: $ultra-font;
    }

    color: $text-white;
    line-height: 1;
    text-transform: uppercase;

    max-height: 145px;
    overflow-y: scroll;

    margin: 0;
  }
}
