.about-body {
  background-image: url('../img/about/about-sm-bg.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 105%;
}

@media (min-width: $smartphones) {
  .about-body {
    background-image: url('../img/about/about-sm-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}

@media (min-width: $wsvga) {
  .about-body {
    background-image: url('../img/about/about-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}

@media (min-width: $tablets) {
  .about-body {
    background-image: url('../img/about/about-bg.jpg');
    background-repeat: no-repeat;
    background-position: top -10px center;
    background-size: auto;
  }
}

@media (min-width: $notebooks) {
  .about-body {
    background-image: url('../img/about/about-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }
}
